@import "tailwindcss";

.ant-upload-list-item-name{

    color:#014e14;
}

.ant-progress-bg{
    background: #014e14;
}
.ant-layout-header{
    background: #fff;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.fade-in {
  animation: fadeFlash 0.6s ease-in-out;
}

@keyframes fadeFlash {
  0% { background-color: #fff7d6; opacity: 0.1; }
  30% { background-color: #e1ffd9; }
  100% { background-color: white; opacity: 1; }
}
.dot-flash {
  font-weight: bold;
  font-size: 1.2rem;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-400 {
  animation-delay: 0.4s;
}
